<h1>DO DAILY.</h1>
<p>You already know what to do.</p>

<%= link_to "New Habit", new_habit_path %>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <%= habit.title %>
      <%= link_to "Edit", edit_habit_path(habit) %>
      <%= link_to "Delete", habit_path(habit), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>